<mat-progress-bar mode="{{(busy?'indeterminate':'determinate')}}"></mat-progress-bar>

<div *ngIf="event" class="container">
  <div fxLayout="row" fxLayoutAlign="start">
    <button mat-raised-button (click)="save()" color="primary">
      <mat-icon>save</mat-icon> Save
    </button>
  </div>

  <mat-vertical-stepper>
    <mat-step label="Event Summary{{(event.name==undefined?'':': '+event.name)}}">
      <div fxLayout="row">
        <div fxLayout="column">
          <img src="{{event.thumbnail | serverFile }}" class="thumbnail" />
          <app-upload-component accept="image/jpeg,image/png,image/gif" multiple="false" [uploadListener]="this"></app-upload-component>
        </div>
        <div fxLayout="column" fxFlex="auto">
          <mat-form-field fxFlex="auto">
            <input matInput [(ngModel)]="event.name" placeholder="Event Name">
          </mat-form-field>
          <mat-form-field fxFlex="auto">
            <input matInput [(ngModel)]="event.subTitle" placeholder="Event Sub-Title">
          </mat-form-field>
          <mat-form-field>
            <textarea matInput [(ngModel)]="event.description" placeholder="Description" rows="5"></textarea>
          </mat-form-field>
        </div>
      </div>
    </mat-step>

    <mat-step label="Question Groups">
      <mat-accordion>
        <mat-expansion-panel *ngFor="let group of event.groups">
          <mat-expansion-panel-header>
            {{group.name}}
          </mat-expansion-panel-header>
          <mat-form-field>
            <input matInput [(ngModel)]="group.name" placeholder="Group Name">
          </mat-form-field>
          <mat-action-row>
            <button mat-raised-button (click)="deleteGroup(group)" color="accent"><mat-icon>delete</mat-icon> Delete</button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
      <br>
      <button mat-raised-button (click)="newGroup()" color="accent"><mat-icon>create</mat-icon> New</button>
    </mat-step>
  </mat-vertical-stepper>

  <div fxLayout="row" fxLayoutAlign="start">
    <button mat-raised-button (click)="save()" color="primary">
      <mat-icon>save</mat-icon> Save
    </button>
  </div>

</div>