.mat-card {
    width:100%;
    margin: 5px;
    min-height:250px;
}

.mat-card.new {
    background:#FAFAFA;
}

.visualContentImage {
    height: auto; 
    width: auto; 
    max-width: 300px;
    max-height: 200px;
    padding-bottom:10px;
}

.mat-form-field {
    width:600px;
}

.explanation {
    padding-left:100px;
}